.menu {
  width: 100%;
  height: $GUTTER*2;
  background-color: $BACKGROUND;
  padding: 0 $GUTTER/2;
  @include gray-border-top;

  display: flex;
  align-items: center;

  position: fixed;
  bottom: 0;
  z-index: 2;
  
  @media #{$BREAKPOINT-TABLET} {
    width: $GUTTER*4;
    height: 100%;
    border-top: 0;
    @include gray-border-right;
    left: 0;
  }

  @media #{$BREAKPOINT-DESK} {
    width: calc(65% - 600px);
    justify-content: flex-end;
  }
  
  &__container {
    width: 100%;
    padding: 0 $GUTTER/2;
    margin: 0;
    list-style-type: none;

    display: flex;

    @media #{$BREAKPOINT-TABLET} {
      height: 100%;
      flex-direction: column;
      align-items: center;
      padding: $GUTTER/2 0;
    }

    @media #{$BREAKPOINT-DESK} {
      max-width: 250px;
    }

    li:last-child {
      margin-left: $GUTTER*2;

      @media #{$BREAKPOINT-TABLET} {
        margin-left: 0;
        margin-top: $GUTTER;
      }
    }
  }

  &__home {
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    outline: 0;

    button {
      cursor: pointer;
      background-image: url('../../assests/images/bird-house-sprite.png');
      background-size: 200%;
      background-repeat: no-repeat;
      background-position: left;
      height: 40px;
      width: 40px;
      -webkit-tap-highlight-color: transparent;
      outline: 0;

      position: absolute;
      left: -4px;
    }
  }

  &__like {
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    outline: 0;

    button {
      cursor: pointer;
      background-image: url('../../assests/images/heart-sprite.png');
      background-size: 200%;
      background-repeat: no-repeat;
      background-position: left;
      height: 40px;
      width: 40px;
      -webkit-tap-highlight-color: transparent;
      outline: 0;

      position: absolute;
      left: -4px;
    }
  }

  &__button {
    text-indent: -9999em;
    border: 0;
    background-color: transparent;
    color: $TEXT;

    @media #{$BREAKPOINT-DESK} {
      text-indent: 2.5em;
      font-size: 16px;
      white-space: nowrap;
    }
  }

  &__logo {
    display: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    -webkit-tap-highlight-color: transparent;
    outline: 0;

    @media #{$BREAKPOINT-DESK} {
      display: block;
      margin: $GUTTER 0;
    }

    .twitter-like-logo {
      width: 100%;
    }
  }
}

.highlight {
  animation: button-highlight 0.1s steps(1) forwards;
  font-weight: bold;
}


@keyframes button-highlight {
from {
  background-position: left;
}
to {
  background-position: right;
}
}