.top-bar {
  width: 100%;
  height: $GUTTER*2;
  background: rgba(0, 0, 0, .65);
  backdrop-filter: blur(12px);
  padding: 0 calc($GUTTER / 2);

  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  
  @include margin-page;

  @media #{$BREAKPOINT-TABLET} {
    @include gray-border-right;
  }

  &__column {
    width: 50%;
  }

  &__column:last-child {
    display: flex;
    justify-content: flex-end;
  }

  &__like-counter {
    width: 100%;
    text-align: left;
  }
}

.clear-button {
  text-align: right;
  background-color: transparent;
  border: 0;
  color: $ALERT_TEXT;

  display: flex;
  align-items: center;

  &__icon {
    width: 14px;
    margin-right: calc($GUTTER / 8);
  }
}