.tweet {
  display: flex;
  padding: calc($GUTTER / 2) calc($GUTTER / 2) 0 calc($GUTTER / 2);
  @include gray-border-top;

  &__account {
    font-weight: bold;
  }

  &__text {
    margin-top: calc($GUTTER / 8);
  }

  &__content {
    width: 100%;
  }

  &__actions {
    width: 100%;

    display: flex;
    justify-content: flex-start;
  }
}

.tweet:first-of-type {
  @include gray-border-top;
}