.tweet {
  display: flex;
  padding: $GUTTER/2 $GUTTER/2 0 $GUTTER/2;
  @include gray-border-top;

  &__account {
    font-weight: bold;
  }

  &__time {
    margin-left: $GUTTER/4;
    color: $SECONDARY_TEXT;
    font-style: italic;
    font-size: 14px; 
  }

  &__text {
    margin-top: $GUTTER/8;
  }

  &__content {
    width: 100%;
  }

  &__actions {
    width: 100%;

    display: flex;
    justify-content: flex-start;
  }
}

.tweet:first-of-type {
  @include gray-border-top;
}