/*
|--------------------------------------------------------------------------
| VARS
|--------------------------------------------------------------------------
*/

$GUTTER: 32px;

$LIGHT_COLOR: #D9D9D9;
$GRAY: #6E767D;
$GRAY_SECONDARY: #71767b;
$GRAY_DARK: #2f3336;
$GRAY_SECONDARY_DARK: #16181C;
$BLACK: #000;
$BLUE_LIGHT: #1D9BEF;
$RED: #F4222D;

$TEXT: $LIGHT_COLOR;
$SECONDARY_TEXT: $GRAY;
$TERTIARY_TEXT: $GRAY_SECONDARY;
$ALERT_TEXT: $RED;
$BACKGROUND: $BLACK;
$BACKGROUND_GRAY: $GRAY_SECONDARY_DARK;
$BORDER_COLOR: $GRAY_DARK;
$FONT: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

/*
|--------------------------------------------------------------------------
| BREAKPOINTS
|--------------------------------------------------------------------------
*/

// Usage example:  @media #{$media-tablet}

$BREAKPOINT-DESK: 		        "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: 	    "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: 		    "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: 		"only screen and (min-width: 480px)";

/*
|--------------------------------------------------------------------------
| MIXINS
|--------------------------------------------------------------------------
*/

@mixin gray-border-top {
  border-top: 1px solid $BORDER_COLOR;
}

@mixin gray-border-right {
  border-right: 1px solid $BORDER_COLOR;
}

@mixin margin-page {
  width: calc(100% - 20px);
  margin: 0 auto;

  @media #{$BREAKPOINT-TABLET} {
    max-width: 600px;
    width: calc(100% - 30px);
    margin: 0 0 0 $GUTTER*4;
  }

  @media #{$BREAKPOINT-DESK} {
    margin: 0 0 0 calc(65% - 600px);
  }
}