.twitter-like-app {
  position: relative;
  min-height: 100vh;
  padding-top: $GUTTER*2;
  padding-bottom: $GUTTER*2;
  background-color: $BACKGROUND;

  @include margin-page;

  @media #{$BREAKPOINT-TABLET} {
    @include gray-border-right;
  }
}